{% for page in pages %}
      <div id="comment_page_{{page.number}}">
            <p>comment_page_{{page.number}}</p>
            {% for comment in page %}
                  <p>{{ comment }}</p>
            {% endfor %}
      </div>
{% endfor %}

{% if comments.has_previous %}
    <a href="/proto/comments/{{comments.number|add:-1}}">Previous</a>
{% endif %}
      Page {{comments.number}} / {{comments.paginator.num_pages}}
{% if comments.has_next %}
      <a href="/proto/comments/{{comments.number|add:1}}">Next</a>
{% endif %}