{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/odoq.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/odoq_mobile.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/weekend_timer.css'%}">
    <script src="{% static 'main/js/post.js'%}"></script>
    <script src="{% static 'main/js/timer_popup.js'%}"></script>
    <title>Odoq2</title>
</head>
<body>
    <a><img class="thumb_nail" src="{%static 'main/images/ODOQ_LOGO.png'%}" alt="Odoq2.com"></a>
     <nav class="navbar">
        <div class="plan_logo_menu_container">
            <div class="plan_box" onclick="plan_popup()">
                <img src="{% static 'main/images/info_asset.png' %}" alt="Plan">
                <p>공지</p>
            </div>
            <div class="logo_box">
                <a href="http://odoq2.com" rel="noopener noreferrer"><img src="{%static 'main/images/ODOQ_NAV_LOGO.png'%}" alt=""></a>
            </div>
        </div>
        <div class="plan_popup" onclick="close_plan_popup()">
            <div class="plan_popup_contents">
                <div class="plan_popup_contents_header_verticalline">
                    <div class="plan_popup_contents_header">Info.</div>
                    <div class="plan_popup_contents_verticalline"></div>
                </div>
                <div class="plan_popup_contents_img_box">
                    {% if notice %}
                    <img class="plan_popup_contents_img" src="{{notice.url}}">
                    {% else %}
                    <img class="plan_popup_contents_img" src="{% static 'BAM.png' %}" alt="no image">
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
    
    <header>
        <div class = "header_pseudo_box">
        </div>
        <div class="header_container">
            <!-- One day One question. -->
            <div class="header_box">
                <!-- Odoq2.com -->
                <img src="{%static 'main/images/ODOQ_LOGO.png'%}" alt="Odoq2.com">
            </div>
            <div class="sms_pseudo_container">
                <div class="sms_box" onclick="sms_popup()">
                    <img src="{%static 'main/images/sms.png'%}" alt="sms알림">
                    <p>SMS</p>
                    <p>알 림</p>
                </div>
            </div>
            <div class="sms_popup">
                <div class="sms_popup_background" onclick="close_sms_popup()">
                </div>
                <div class="sms_popup_contents">
                    <div class="sms_popup_contents_header_box">
                        <div class="sms_popup_contents_header_img">
                            <img src="{%static 'main/images/sms.png'%}" alt="sms알림등록">
                        </div>
                        <div class="sms_popup_contents_header_text1">SMS 알림등록</div>
                        <div class="sms_popup_contents_header_text2">문제업로드 / 시즌 시작&종료 / 기타</div>
                    </div>
                    <div class="sms_popup_contents_input_box">
                        <button onclick="phone_number_delete()">삭제</button>    
                        <button onclick="phone_number_post()">등록</button>
                        <input id="phone_number_input" type="tel" name="phone_number" pattern="010[0-9]{8}">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="verticalLine1"></div>

    <div class="main_container">
        
        {% if weekday == 5 or weekday == 6 %}
        <div class="weekend_timer_container">
    
            <div class="weekend_timer_container_header">
            </div>
        
            <div class="weekend_timer_box">
                
            </div>
        </div>

        {% else %}
        <div class="question_container">
            <div class="question_container_header">
                <p class="season_box">Season {{season}} #{{code}}</p>
                <p class="countdown_box"></p>
            </div>
            <div class="question_box">
                {% if img %}
                <img src="{{img.url}}" alt="load Error">
                {% else %}
                <img src="{% static 'BAM.png' %}" alt="load Error">
                {% endif %}
            </div>
        </div>

        <div class="verticalLine2"></div>
    
        <div class="answer_container">
            <div class="answer_header">
                Answer.
            </div>
            <div class="answer_input_button_box">
                    <div class="answer_button_box">
                        <button id="answer_button" onClick="answer_post()">
                            enter.
                        </button>
                    </div>
                    <div class="answer_box">
                        <input id="answer_input" type="search" onkeydown="enter(event)" oninput="hideIcon(this)">
                    </div>
            </div>
        </div>
        
        {% endif %}
    
        <div class="verticalLine3"></div>
       
        <footer>
            <div class="aboutUs_container">
                <div class="aboutUs_header">
                    About us.
                </div>
                <div class="aboutUs_content">
                    SDIJ 수학강사 김정문 <br>
                    <a href="https://jmmath9.com/" target="_blank" rel="noopener noreferrer">jmmath9.com</a>
                </div>
            </div>
            <div class="caution_container">
                <div class="caution_header">
                    Caution.
                </div>
                <div class="caution_content">
                    저작권에 보호를 받는 컨텐츠입니다. 출처표시 없이 사용하는 경우
                    법적인 책임을 질 수 있습니다.
                    (지적재산권 최대 5년의 징역/5천만 원의 벌금형에 처할 수 있습니다.)
                    <br>좋은 취지와 의지를 가지고 하는 일인 만큼 저작권 침해에 관해서는
                    엄중하게 대응할 예정입니다.
                    본 컨텐츠가 무단으로 사용되고있는 것을 목격하신 분들은
                    <a href="mailto:odoq.help@gmail.com">odoq.help@gmail.com</a>으로 꼭 연락 부탁드립니다.
                </div>
            </div>
        </footer>
    </div>
    <script>
        // Window가 load되면 자동으로 실행된다.
        //template TAG 때문에 .js 파일로 옮기면 안됨.
        window.onload = function(){
            let weekday = "{{weekday}}";
            let duration = "{{countdown}}";
            
            if(weekday == 5 || weekday == 6){
                element = document.getElementsByClassName("weekend_timer_box")[0];
            } else {
                element = document.getElementsByClassName("countdown_box")[0];
            }

            // 넘어온 duration 값이 0보다 크면, 카운트다운.
            if(duration > 0){
                let initial_hour = parseInt(duration/3600);
                let initial_min = parseInt((duration%3600)/60);
                let initial_sec = parseInt(duration%60);

                element.textContent = `${paddedFormat(initial_hour)}:${paddedFormat(initial_min)}:${paddedFormat(initial_sec)}`;

                startCountDown(duration, element);
            }
            
            // 넘어온 duration 값이 0보다 작거나 같으면, 
            else{
                console.log("duration is 0 ");
                element.textContent = "THIS IS LAST";
            }
        }


        // 정답입력란 onkeydown, Enter에 반응하도록.
        function enter(event){
            var x = event.key;
            if(x == "Enter"){
                answer_post();    
            }
        }   
        // 정답입력란 oninput, 아이콘이 없어지거나, 다시 생성되거나.
        function hideIcon(self){
            //Debugging
            console.log(self.value);
            if(self.value == ''){
                //Debugging
                // console.log("EMPTY");
                
                //값이 비면 icon을 다시 생성해줄 것이다.
                self.style.backgroundImage = "url(https://cdn2.iconfinder.com/data/icons/dottie-design-part-2/24/design_081-pencil-pen-draw-write-256.png)";
            }

            else{
                //값이 입력되면 icon을 숨겨줄 것이다.
                self.style.backgroundImage = 'none';
            }
        }
        
        function debugging(){
            console.log('connected');
        }

        
    </script>
</body>
</html>