{% extends 'layout.html' %}
{% load static %}
{% block index %}  
    <header>
        <div class = "header_pseudo_box">
        </div>
        <div class="header_container">
            <!-- One day One question. -->
            <div class="header_box">
                <!-- Odoq2.com -->
                <img src="{%static 'main/images/ODOQ_LOGO.png'%}" alt="Odoq2.com">
                <div class="login_box">
                    {% if not user.is_authenticated %}
                    <form action="{%url 'accounts:login' %}" method="post" id="login_box_form">
                        {% csrf_token %}
                        {{login_form}}
                        {{form}}
                    </form>
                    <div class="login_box_buttons">
                        <button onclick="login()">Log in</button>
                        <button onclick=location.href="{% url 'accounts:signin' %}">Sign in</button>
                    </div>
                    {% else %}
                        <p><span>{{user.userprofile.nickname}}</span>님</p>
                        <p>반갑습니다.</p>
                    <div class="login_box_buttons">
                        <button onclick=location.href="{% url 'accounts:logout' %}?next={% url 'main:index' %}">Log out</button>
                        <button onclick=location.href="{% url 'accounts:userprofile' %}?next={{request.get_full_path}}">MyPage</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="sms_pseudo_container">
                <div class="sms_box" onclick="sms_popup()">
                    <img src="{%static 'main/images/sms.png'%}" alt="sms알림">
                    <p>SMS</p>
                    <p>알 림</p>
                </div>
            </div>
            <div class="sms_popup">
                <div class="sms_popup_background" onclick="close_sms_popup()">
                </div>
                <div class="sms_popup_contents">
                    <div class="sms_popup_contents_header_box">
                        <div class="sms_popup_contents_header_img">
                            <img src="{%static 'main/images/sms.png'%}" alt="sms알림등록">
                        </div>
                        <div class="sms_popup_contents_header_text1">SMS 알림등록</div>
                        <div class="sms_popup_contents_header_text2">문제업로드 / 시즌 시작&종료 / 기타</div>
                    </div>
                    <div class="sms_popup_contents_input_box">
                        <button onclick="phone_number_delete()">삭제</button>    
                        <button onclick="phone_number_post()">등록</button>
                        <input id="phone_number_input" type="tel" name="phone_number" pattern="010[0-9]{8}" oninput="hideIcon(this)">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="verticalLine1"></div>
    <div class="main_container">
    {%if onoff_season is True%}
        {% if weekday == 5 and weekday == 6 %}
        <div class="weekend_timer_container">
    
            <div class="weekend_timer_container_header">
            </div>
        
            <div class="weekend_timer_box">
                
            </div>
        </div>

        {% else %}
        <div class="question_container">
            <div class="question_container_header">
                <p class="season_box">Season {{season}} #{{code}}</p>
                <p class="countdown_box"></p>
            </div>
            <div class="question_box">
                {% if img %}
                <img src="{{img.url}}" alt="load Error">
                {% else %}
                <img src="{% static 'BAM.png' %}" alt="load Error">
                {% endif %}
            </div>
        </div>

        <div class="verticalLine2"></div>
    
        <div class="answer_container">
            <div class="answer_header">
                Answer.
            </div>
            <div class="answer_input_button_box">
                    <div class="answer_button_box">
                        <button id="answer_button" onClick="answer_post()">
                            enter.
                        </button>
                    </div>
                    <div class="answer_box">
                        <input id="answer_input" type="search" onkeydown="enter(event)" oninput="hideIcon(this)">
                    </div>
            </div>
        </div>
        
        {% endif %}
    {%else%}
        <div class="question_container">
            <div class="question_box">
                {% if season_off_img %}
                <img src="{{season_off_img.url}}" alt="load Error">
                {% else %}
                <img src="{% static 'BAM.png' %}" alt="load Error">
                {% endif %}
            </div>
        </div>
    {%endif%}
    {%if onoff_comment is True%}
    <div class="comment_container">
        <div class="comment_container_header">
            <div class="comment_container_header_today_and_my_comment">
                <div class="comment_container_header_today">오늘의 댓글 &nbsp <span>{{comments_today|length}}</span> 개</div>
                {% if user.is_authenticated %}
                    {% if 'my' in order %}
                    <div class="comment_container_header_my_comment" onclick="location.href='/'">전체댓글&nbsp<i class="fa-solid fa-chevron-right"></i></div>
                    {% else %}
                    <div class="comment_container_header_my_comment" onclick="location.href='/comment/my_comment/created_at/'">내 댓글&nbsp<i class="fa-solid fa-chevron-right"></i></div>
                    {% endif %}
                {% else %}
                <div></div>
                {%endif%}
            </div>
            <div class="comment_container_header_notice">관리자가 악성댓글을 감지하고 있습니다. 건강한 댓글 문화를 위해 노력하는 오도커가 됩시다.</div>
        </div>
        {% if user.is_authenticated %}
        <div class="comment_input_box" onclick="input_box_open()">
            <form class="comment_input_box_form" method="POST">
            <!-- <form class="comment_input_box_form" action="{%url 'main:comment_new'%}" method="post" enctype = "multipart/form-data"> -->
                {%csrf_token%}
                <div class="comment_input_box_textarea_and_charnumbs_and_button">
                    {{comment_form}}
                    <div class="comment_input_box_charnumbs_and_button">
                        <div class="comment_input_box_charnumbs"><span></span></div>
                        <button class="comment_input_box_button" type="button" onclick="form_submit(this)"><i class="fa-solid fa-pen"></i></button>
                        <!-- <input type="submit" value="WRITE"> -->
                    </div>
                </div>
            </form>
        </div>
        {% else %}
        <!-- <div class="comment_input_box">
            <p>댓글 기능은 Login이후 사용가능합니다.</p>
        </div> -->
        {% endif %}
        <div class="comment_list_filter">
            {% if 'latest' in order %}
            <button onclick="location.href='/'" style="color:rgba(0,81,200,255);">최신순 <i class="fa-solid fa-angle-down"></i></button>
            {% else %}
            <button onclick="location.href='/'">최신순 <i class="fa-solid fa-angle-down"></i></button>
            {% endif %}

            {% if 'like' in order %}
            <button onclick="location.href='/comment/today/like_count/'" style="color:rgba(0,81,200,255);">오늘의 댓글 추천순 <i class="fa-solid fa-angle-down"></i></button>
            {% else %}
            <button onclick="location.href='/comment/today/like_count/'">오늘의 댓글 추천순 <i class="fa-solid fa-angle-down"></i></button>
            {% endif %}
        </div>
        <div class="comment_list_filter_vertical_line"></div>
        <div class="comment_list_box">
            {%for page in paginator%}
            <div class="comment_list_page" id="comment_list_page_{{page.number}}">
                    {%for comment in page%}
                    {% if comment.user == user %}
                    <div class = "comment_line" style="background-color:rgba(231,240,249,255);" id = "comment_id_{{comment.id}}">
                    {% else %}
                    <div class = "comment_line" id = "comment_id_{{comment.id}}">
                    {% endif %}
                        <div class = "comment_line_user_and_updated_at_and_tool_box">
                            <div class = "comment_line_user_and_updated_at">
                                {% if comment.user.is_superuser %}
                                <div class = "comment_line_user">{{comment.user.userprofile.nickname}}<i class="fa-solid fa-crown" style="color:rgba(255, 171, 0, 0.8);"></i></div>
                                <div class = "comment_line_updated_at">&nbsp{{comment.created_at}}</div>
                                {% else %}
                                <div class = "comment_line_user">{{comment.user.userprofile.nickname}}</div>
                                <div class = "comment_line_updated_at">&nbsp{{comment.created_at}}</div>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated %}
                            <div class = "comment_line_tool_box_btn_and_box" id="comment_line_tool_box_btn_and_box_id_{{comment.id}}">
                                <button class = "comment_line_tool_box_btn" onclick="open_tool_box(event, this, '{{comment.id}}')"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                <div class="comment_line_tool_box_popup" id="comment_tool_box_popup_id_{{comment.id}}" onclick="close_tool_box(this, '{{comment.id}}')"></div>
                                <div class = "comment_line_tool_box" id="comment_tool_box_id_{{comment.id}}">
                                    {% if user.is_authenticated %}
                                    {%if comment.user == user or user.is_superuser%}
                                    <button onclick="comment_edit_open(this, '{{comment.id}}')" class="comment_edit">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <button onclick="comment_blind(this, '{{comment.id}}')" class="comment_blind">
                                        <i class="fa-solid fa-eraser"></i>
                                    </button>
                                    {% endif %}
                                    <button>
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                    </button>
                                    {%endif%}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% if comment.blind %}
                            {% if "관리자" in comment.blind_text %}
                            <div class = "comment_line_content" id="comment_content_{{comment.id}}" style="text-decoration-line: line-through; color:rgba(0,41,100,255);">{{comment.blind_text}}</div>
                            {% else %}
                            <div class = "comment_line_content" id="comment_content_{{comment.id}}" style="text-decoration-line: line-through;">{{comment.blind_text}}</div>
                            {% endif %}
                        {% else %}
                        <div class = "comment_line_content" id="comment_content_{{comment.id}}">{{comment.content}}</div>
                        {% endif %}
                        <div class = "comment_line_cocomment_and_like">
                            <button onclick="open_cocomment(this, '{{comment.id}}')" class="comment_line_open_cocomment">답글 {{comment.cocomment_set.all|length}}&nbsp&nbsp<i class="fa-solid fa-caret-down"></i></button>
                            {% if comment in user.userprofile.like_comments.all %}
                            <button onclick = "like(this, '{{comment.id}}', 1)" class="comment_like">
                                <i class="fa-solid fa-thumbs-up"></i>&nbsp<span>{{comment.like_count}}</span>
                            </button>
                            {% else %}
                            <button onclick = "like(this, '{{comment.id}}', 0)" class="comment_like">
                                <i class="fa-regular fa-thumbs-up"></i>&nbsp<span>{{comment.like_count}}</span>
                            </button>
                            {% endif %}
                        </div>
                        <div class="comment_line_vertical_line"></div>


                        <div class = "comment_line_cocomment_container" id = "comment_id_{{comment.id}}_cocomment">
                            {%for cocomment in comment.cocomment_set.all%}
                            <div class = "cocomment_line" id = "cocomment_id_{{cocomment.id}}">
                                <div class = "cocomment_line_user_and_updated_at_and_tool_box">
                                    <div class = "cocomment_line_user_and_updated_at">
                                        {% if cocomment.user.is_superuser %}
                                        <div class = "cocomment_line_user">{{cocomment.user.userprofile.nickname}}<i class="fa-solid fa-crown" style="color:rgba(255, 171, 0, 0.8);"></i></div>
                                        <div class = "cocomment_line_updated_at">{{cocomment.updated_at}}</div>
                                        {% else %}
                                        <div class = "cocomment_line_user">{{cocomment.user.userprofile.nickname}}</div>
                                        <div class = "cocomment_line_updated_at">{{cocomment.updated_at}}</div>
                                        {% endif %}
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class = "cocomment_line_tool_box_btn_and_box" id="cocomment_line_tool_box_btn_and_box_id_{{cocomment.id}}">
                                        <button class = "cocomment_line_tool_box_btn" onclick="open_tool_box(event, this, '{{cocomment.id}}')"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                        <div class="cocomment_line_tool_box_popup" id="cocomment_tool_box_popup_id_{{cocomment.id}}" onclick="close_tool_box(this, '{{cocomment.id}}')"></div>
                                        <div class = "cocomment_line_tool_box" id="cocomment_tool_box_id_{{cocomment.id}}">
                                            {% if user.is_authenticated %}
                                            {%if cocomment.user == user or user.is_superuser%}
                                            <button onclick="comment_edit_open(this, '{{cocomment.id}}')" class="cocomment_edit">
                                                <i class="fa-solid fa-pen"></i>
                                            </button>
                                            <button onclick="comment_blind(this, '{{cocomment.id}}')" class="cocomment_blind">
                                                <i class="fa-solid fa-eraser"></i>
                                            </button>
                                            {% endif %}
                                            <button>
                                                <i class="fa-solid fa-triangle-exclamation"></i>
                                            </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>

                                {% if cocomment.blind %}
                                    {% if "관리자" in cocomment.blind_text %}
                                    <div class = "cocomment_line_content" id="cocomment_content_{{cocomment.id}}" style="text-decoration-line: line-through; color:rgba(0,41,100,255);">{{cocomment.blind_text}}</div>
                                    {% else %}
                                    <div class = "cocomment_line_content" id="cocomment_content_{{cocomment.id}}" style="text-decoration-line: line-through;">{{cocomment.blind_text}}</div>
                                    {% endif %}
                                {% else %}
                                <div class = "cocomment_line_content" id="cocomment_content_{{cocomment.id}}">{{cocomment.content}}</div>
                                {% endif %}
                                
                                <div class = "cocomment_line_like">
                                    <div class = "cocomment_line_pseudo_box"></div>
                                    {%if cocomment in user.userprofile.like_cocomments.all%}
                                    <button onclick = "like(this, '{{cocomment.id}}', 1)", class="cocomment_like">
                                        <i class="fa-solid fa-thumbs-up"></i>&nbsp<span>{{cocomment.like_count}}</span>
                                    </button>
                                    {%else%}
                                    <button onclick = "like(this, '{{cocomment.id}}', 0)", class="cocomment_like">
                                        <i class="fa-regular fa-thumbs-up"></i>&nbsp<span>{{cocomment.like_count}}</span>
                                    </button>
                                    {%endif%}
                                </div>
                            </div>
                            <div class="cocomment_line_vertical_line"></div>
                            {%endfor%}
                            {% if user.is_authenticated %}
                            <div class="cocomment_input_box">
                                <form class="cocomment_input_box_form" method="POST">
                                    {%csrf_token%}
                                    <input type="hidden" name="comment_id" value={{comment.id}}>
                                    <div class="cocomment_input_box_textarea_and_charnumbs_and_button">
                                        {{cocomment_form}}
                                        <div class="cocomment_input_box_charnumbs_and_button">
                                            <div class="cocomment_input_box_charnumbs"><span></span></div>
                                            <button class="cocomment_input_box_button" type="button" onclick="form_submit(this)"><i class="fa-solid fa-pen"></i></button>
                                            <!-- <input type="submit" value="WRITE"> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {%endfor%} <!-- for comment in page end-->
            </div>
            {%endfor%} <!-- for page in pages end-->
            <div class="comment_list_navigator">
                <button onclick="comment_page_show(1, '{{paginator.num_pages}}');" id="comment_list_navigator_prev"><i class="fa-solid fa-angle-left"></i>&nbsp이전</button>
                <div id="comment_list_navigator_page_numbering">1/{{paginator.num_pages}}</div>
                <button onclick="comment_page_show(2, '{{paginator.num_pages}}');" id="comment_list_navigator_next">다음&nbsp<i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    {%endif%}
        <div class="verticalLine3"></div>
       
        <footer>
            <div class="aboutUs_container">
                <div class="aboutUs_header">
                    About us.
                </div>
                <div class="aboutUs_content">
                    SDIJ 수학강사 김정문 <br>
                    <a href="https://jmmath9.com/" target="_blank" rel="noopener noreferrer">jmmath9.com</a>
                </div>
            </div>
            <div class="caution_container">
                <div class="caution_header">
                    Caution.
                </div>
                <div class="caution_content">
                    저작권에 보호를 받는 컨텐츠입니다. 출처표시 없이 사용하는 경우
                    법적인 책임을 질 수 있습니다.
                    (지적재산권 최대 5년의 징역/5천만 원의 벌금형에 처할 수 있습니다.)
                    <br>좋은 취지와 의지를 가지고 하는 일인 만큼 저작권 침해에 관해서는
                    엄중하게 대응할 예정입니다.
                    본 컨텐츠가 무단으로 사용되고있는 것을 목격하신 분들은
                    <a href="mailto:odoq.help@gmail.com">odoq.help@gmail.com</a>으로 꼭 연락 부탁드립니다.
                </div>
            </div>
        </footer>
    </div>
    {% if profile_form or creation_form %}
    <div class="profile_creation_popup" >
        <div class="profile_creation_popup_background" onclick="location.href='/'"></div>
        {% if profile_form %}
        <div class="user_profile_form_container">
            <form action="" method="post" class = "user_creation_form">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{user.username}}">
                <p id = "id_username">{{user.username}}</p>
                <div>
                <p>닉 네 임</p>
                {{profile_form.nickname}}
                </div>
                {{profile_form.nickname.errors}}
                <div>
                <p>비밀번호</p>
                <input type="password" name="password" required id ="id_password">
                </div>
                {% if pw_error_message %}
                <ul class="errorlist">
                    <li>{{pw_error_message}}</li>
                </ul>
                {% endif %}
                <button type="submit">수정</button>
            </form>
        </div>
        {%endif%}

        {% if creation_form %}
        <div class="user_creation_form_container">
            <form action="" method="post" class = "user_creation_form">
                {% csrf_token %}
                <div class="user_creation_form_header">
                    <div class="user_creation_form_header_signin">SignIn</div>
                </div>
                <div>
                    <p>ID</p>
                    {{creation_form.username}}
                </div>
                <ul>
                    {{creation_form.username.help_text}}
                </ul>
                {{creation_form.username.errors}}
                <div>
                    <p>닉 네 임</p>
                    {{creation_form.nickname}}
                </div>
                {{creation_form.nickname.errors}}
                <div>
                    <p>비밀번호</p>
                    {{creation_form.password1}}
                </div>
                {{creation_form.password1.errors}}
                <div>
                    <p>비밀번호 확인</p>
                    {{creation_form.password2}}
                </div>
                {{creation_form.password2.errors}}
                <button type="submit">회원가입</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}
    <script>
        // Window가 load되면 자동으로 실행된다.
        //template TAG 때문에 .js 파일로 옮기면 안됨.
        // document.location.reload(true);

        window.onload = function(){
            let weekday = "{{weekday}}";
            let duration = "{{countdown}}";
            
            // 토요일이나 일요일의 경우, 
            if(weekday == 5 || weekday == 6){
                element = document.getElementsByClassName("weekend_timer_box")[0];
            } else {
                element = document.getElementsByClassName("countdown_box")[0];
            }

            // 넘어온 duration 값이 0보다 크면, 카운트다운.
            if(duration > 0){
                let initial_hour = parseInt(duration/3600);
                let initial_min = parseInt((duration%3600)/60);
                let initial_sec = parseInt(duration%60);

                element.textContent = `${paddedFormat(initial_hour)}:${paddedFormat(initial_min)}:${paddedFormat(initial_sec)}`;

                startCountDown(duration, element);
            }
            
            // 넘어온 duration 값이 0보다 작거나 같으면, 
            else{
                element.textContent = "THIS IS LAST";
            }

            // 댓글 첫 페이지만 보이도록.
            comment_page_show(1, '{{paginator.num_pages}}');
        }

        //Scroll Position 관련 Code
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = sessionStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);

            let cocomment_open = localStorage.getItem('cocomment_open');
            if (cocomment_open) {
                trgt = document.getElementById(cocomment_open);
                trgt.style.display = "block";
                // console.log(trgt);
            }
        });

        window.onbeforeunload = function(e) {
            sessionStorage.setItem('scrollpos', window.scrollY);
        };


        //댓글 입력창 및 댓글 글자수 counting
        let trgt_comment_charnumbs = document.getElementById('id_content');
        if (trgt_comment_charnumbs){
            trgt_comment_charnumbs.setAttribute("placeholder", "댓글을 입력해주세요");
            trgt_comment_charnumbs.setAttribute("rows", 1);
        }
        let output_charnumbs = document.getElementsByClassName("comment_input_box_charnumbs")[0];
        let output_dom
        if (output_charnumbs){
            output_dom = output_charnumbs.children[0];
        }
        
        trgt_comment_charnumbs.addEventListener("input", function(e){
            output_dom.innerHTML = e.target.value.length+" / 500";
            if(e.target.value.length >= 500){
                trgt_comment_charnumbs.style.outlineColor = "red";
            } else {
                trgt_comment_charnumbs.style.outlineColor = "rgba(0,41,100,255)";
            }
        });

        //Enter치면 제출하도록 할 것인가. 말 것인가.innerHTML
        
        trgt_comment_charnumbs.addEventListener("keydown", enter_form_submit);
        trgt_comment_charnumbs.addEventListener("focus", (e) => {
            e.target.setAttribute("rows", 10);
        });
        trgt_comment_charnumbs.addEventListener("blur", (e) => {
            if(e.target.value.length==0){
                e.target.setAttribute("rows", 1);
            }
        });

        let trgt_cocomment_charnumbs = document.getElementsByClassName('cocomment_input_box_textarea_and_charnumbs_and_button');
        for (var i=0; i<trgt_cocomment_charnumbs.length; i++){
            trgt_cocomment_charnumbs[i].children[0].setAttribute("placeholder", "댓글을 입력해주세요");
            trgt_cocomment_charnumbs[i].children[0].setAttribute("rows", 1);
            trgt_cocomment_charnumbs[i].children[0].addEventListener("keydown", enter_form_submit);
            trgt_cocomment_charnumbs[i].children[0].addEventListener("focus", (e) => {
                e.target.setAttribute("rows", 3);
            });
            trgt_cocomment_charnumbs[i].children[0].addEventListener("blur", (e) => {
                if(e.target.value.length==0){
                    e.target.setAttribute("rows",1);
                }
            });
        }




        // 정답입력란 oninput, 아이콘이 없어지거나, 다시 생성되거나.
        function hideIcon(self){
            var id = self.getAttribute("id");
            if(self.value == ''){
                //값이 비면 icon을 다시 생성해줄 것이다.
                if(id == "answer_input"){
                    self.style.backgroundImage = "url(https://cdn2.iconfinder.com/data/icons/dottie-design-part-2/24/design_081-pencil-pen-draw-write-256.png)";
                } else if (id == "phone_number_input"){
                    self.style.backgroundImage = "url(https://cdn4.iconfinder.com/data/icons/ui-office/512/User_Interface-75-256.png)";
                }

            } else {
                //값이 입력되면 icon을 숨겨줄 것이다.
                self.style.backgroundImage = 'none';
            }
        }
        
        function debugging(){
            console.log('connected');
        }

        
    </script>
{% endblock index %}