{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/odoq.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/odoq_mobile.css'%}">
    <script src="{% static 'main/js/answer_post.js'%}"></script>
    <script src="{% static 'main/js/timer_popup.js'%}"></script>
    <title>Odoq</title>
</head>
<body>
     <nav class="navbar">
        <div class="help_box"></div>
        <div class="middle_box"></div>
        <div class="plan_box" onclick="plan_popup()">
            <span>plan</span>
        </div>
        <div class="plan_popup" onclick="close_plan_popup()">
            <div class="plan_popup_contents">
                <div class="plan_popup_contents_header_verticalline">
                    <div class="plan_popup_contents_header">Plan</div>
                    <div class="plan_popup_contents_verticalline"></div>
                </div>
                <div class="plan_popup_contents_img_box">
                    {% if notice %}
                    <img class="plan_popup_contents_img" src="{{notice.url}}">
                    {% else %}
                    <img class="plan_popup_contents_img" src="{% static 'BAM.png' %}" alt="no image">
                    {% endif %}
                </div>
            </div>
        </div>
     </nav>

     
     <div class="main_container">
        <header>
            <div class="header_container">
                One day One question.
                <div class="header_box">
                    Odoq2.com
                </div>
            </div>
        </header>
        
        <div class="verticalLine1"></div>
    
        <div class="question_container">
            <div class="question_container_header">
                <p class="season_box">Season {{season}} #{{code}}</p>
                <p class="countdown_box"></p>
            </div>
            <div class="question_box">
                {% if img %}
                <img src="{{img.url}}" alt="load Error">
                {% else %}
                <img src="{% static 'BAM.png' %}" alt="load Error">
                {% endif %}
            </div>
        </div>
    
        <div class="verticalLine2"></div>
    
        <div class="answer_container">
            <div class="answer_header">
                Answer.
            </div>
            <div class="answer_input_button_box">
                    <div class="answer_box">
                        <input id="answer_input" type="search" onkeydown="enter(event)" oninput="hideIcon(this)">
                    </div>
                    <div class="answer_button_box">
                        <button id="answer_button" onClick="answer_post()">
                            enter.
                        </button>
                    </div>
            </div>
        </div>
    
        <div class="verticalLine3"></div>
       
        <footer>
            <div class="aboutUs_container">
                <div class="aboutUs_header">
                    About us.
                </div>
                <div class="aboutUs_content">
                    대치동 수학강사들.
                </div>
            </div>
            <div class="caution_container">
                <div class="caution_header">
                    Caution.
                </div>
                <div class="caution_content">
                    저작권에 보호를 받는 컨텐츠입니다. 출처표시 없이 사용하는 경우
                    법적인 책임을 질 수 있습니다.
                    (지적재산권 최대 5년의 징역/5천만 원의 벌금형에 처할 수 있습니다.)
                    좋은 취지와 의지를 가지고 하는 일인 만큼 저작권 침해에 관해서는
                    엄중하게 대응할 예정입니다.
                    본 컨텐츠가 무단으로 사용되고있는 것을 목격하신 분들은
                    odoq_help@gmail.com으로 꼭 연락 부탁드립니다.
                </div>
            </div>
        </footer>
    </div>
    <script>
        
        window.onload = function(){
            let duration = "{{countdown}}";
            element = document.getElementsByClassName("countdown_box")[0];

            // 넘어온 duration 값이 0보다 크면, 카운트다운.
            if(duration > 0){
                let initial_hour = parseInt(duration/3600);
                let initial_min = parseInt((duration%3600)/60);
                let initial_sec = parseInt(duration%60);

                element.textContent = `${paddedFormat(initial_hour)}:${paddedFormat(initial_min)}:${paddedFormat(initial_sec)}`;
                startCountDown(duration, element);
            }
            
            // 넘어온 duration 값이 0보다 작거나 같으면, 
            else{
                console.log("duration is 0 ");
                element.textContent = "THIS IS LAST";
            }
            //Debugging
            // console.log('window.onload called');
            // console.log("duration valer is ", duration);
            // console.log("element is ", element);
        }
        // 정답입력란이 Enter에 반응하도록.
        // document.getElementById('answer_input').addEventListener('search', answer_post);
        function enter(event){
            var x = event.key;
            if(x == "Enter"){
                answer_post();    
            }
        }   
        // 정답입력란의 내용이 변경될 때, 아이콘이 없어지도록.
        function hideIcon(self){
            //Debugging
            console.log(self.value);
            if(self.value == ''){
                //Debugging
                // console.log("EMPTY");
                //
                
                //값이 비면 icon을 다시 생성해줄 것이다.
                self.style.backgroundImage = "url(https://cdn3.iconfinder.com/data/icons/web-and-mobile-ui-smooth-line-3/48/131-512.png)";
            }

            else{
                //값이 입력되면 icon을 숨겨줄 것이다.
                self.style.backgroundImage = 'none';
            }
        }
        
        function debugging(){
            console.log('connected');
        }

        
    </script>
</body>
</html>