@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Fjalla+One&family=Nanum+Gothic&display=swap');
input, button {
    appearance: none;
    border_radius : 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius : 0;
    -moz-border-radius : 0;
    }
    
body {
  margin : 0;
  padding: 0;
  font-size: 0;
  font-family:나눔바른고딕;
}
nav {
    /* width : 100%; */
    height : 50px;
    background-color : black;
}

.plan_box {
    width : 50px;
    /* line-height : 50px; */
    height : 100%;
    font-size : 20px;
    font-family: 'Fjalla One', sans-serif;
    color : white;
    text-align : center;
    cursor : pointer;
    float : right;
    box-sizing: border-box;
    padding : 12.5px;
}

    .plan_box img {
        height : 100%;
    }

        /* .plan_box:hover {
        width : 50px;
        line-height : 50px;
        height : 100%;
        font-size : 20px;
        font-family: 'Fjalla One', sans-serif;
        color : rgb(223, 223, 223);
        text-align : center;
        float : right;
        } */


    .plan_popup {
        position : fixed;
        z-index: 1;
        left:0px; top : 0px; 
        width:100%; height:100%; /*parent : body*/
        background-color : rgba(196, 196, 196, 0.5);
        display : none;
    }
    
    .plan_popup_contents {
        position : absolute;
        left : 50%; top : 50%;
        transform: translate(-50%, -50%);
        max-width:420px;
        width : 80%;
        height:80%;
        background-color : white;
        padding : 15px;

        display : flex;
        flex-direction : column;
        justify-content : center;
        
        border-radius: 10px;
    }
    
    .plan_popup_contents_header_verticalline{
        flex : 1;
    }
        .plan_popup_contents_header {
            font-size : 40px;
            /* padding : 15px; */
            font-family: 'Abril Fatface', cursive;
        }
        
        .plan_popup_contents_verticalline{
            height : 3px; 
            margin : 5px 0;
            background-color: black;
        }

    .plan_popup_contents_img_box{
        overflow : auto;
        width : 100%;
        flex : 6;
    }

        .plan_popup_contents_img {
            width : 100%;
        }

.main_container{
    padding : 20px;
    max-width : 550px;
    margin : auto;
}

header{
    padding : 10px;
    cursor : default;
}
.header_container {
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
}

.header_box {
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;
    padding : 15px 0;
    font-family: Abril Fatface;
}

.verticalLine1 {
    width : 100%;
    height : 6px;
    background-color : black;
  }

.question_container {
      margin : 0;
  }

    .question_container_header{
        /* padding : 0 10px;   */
        font-size: 20px;
        font-family: 'Fjalla One', sans-serif;
        display : flex;
        cursor : default;
    }

        .season_box {
            flex : 1;
            display : inline-block;
        }
        .countdown_box {
            flex : 1;
            display : inline_block;
            text-align : right;
        }

    .question_box {
        margin : 0 auto;
        /* background-color : olive; */
    }

        .question_box img {
            display : block;
            /* padding : 10px; */
            width : 100%;
            max-width : 550px;
            margin :auto;
        }
  
.verticalLine2 {
    width : 100%;
    height : 2px;
    background-color : grey;
}

.answer_container {
    /* background-color: bisque; */
    padding : 20px 0 ;
    display : flex;
}

    .answer_header {
        display : inline-block;
        flex : 1;
        padding : 0.3em 10px 0.3em 0;
        font-size : 20px;
        font-family: 'Fjalla One', sans-serif;
    }

    .answer_container .answer_input_button_box {
        display : inline-block;
        flex : 6;
    }

    /* .answer_header span {
        line-height: 40px;
    } */

        .answer_box {
            display : inline-block;
            width : 150px;
            padding : 0.3em 10px 0.3em 0;
            text-align : center;
            font-size : 20px;
        }

            .answer_box input {
                /* border-radius : 4px; */
                background-image: url(https://cdn3.iconfinder.com/data/icons/web-and-mobile-ui-smooth-line-3/48/131-512.png);
                background-size: contain;
                background-position: 15px center;
                background-repeat: no-repeat;

                text-indent: 10px;
                padding : 0;
                width : 100%;
                border : 10px;
                font-size : 20px;
            }

            .answer_box input:focus {
                background-image: none;
                border:0px;
            }

            .answer_box input:focus-visible{
                outline:0;
            }

        .answer_button_box {
            float : right;
            width : 80px;
            height : 35.46px; /*answer_header의 높이 + padding*/
        }

            #answer_button {
                width : 100%;
                height : 100%; 
                border : 0;
                padding : 0;
                background-color : black;

                font-size : 20px;
                font-family: 'Fjalla One', sans-serif;
                line-height: 35.46px; /*부모 .answer_button_box의 height*/
                color : white;
                font-weight: normal;
            }

            #answer_button:hover {
                width : 100%;
                height : 100%; 
                border : 0;
                padding : 0;
                background-color : rgb(223, 223, 223);

                font-size : 20px;
                font-family: 'Fjalla One', sans-serif;
                line-height: 35.46px; /*부모 .answer_button_box의 height*/
                color : black;
                font-weight: normal;
            }

.verticalLine3 {
    width : 100%;
    height : 2px;
    background-color :black;
}

.aboutUs_container {
    padding : 25px 0;
}

.aboutUs_header {
    font-size : 20px;
    line-height : 2;
    font-family: 'Abel', sans-serif;
    font-weight: 200;
}

.aboutUs_content {
    font-size : 17px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height : 1.7;
}


.caution_container {
    padding : 25px 0;
}

.caution_header {
    font-size : 20px;
    line-height : 2;

    font-family: 'Abel', sans-serif;
    font-weight: 200;
}

.caution_content {
    font-size : 17px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height : 1.7;
}
