body {
  margin : 0;
  padding: 0;
  font-size: 0;
  font-family:나눔바른고딕;
}

nav {
    width : 100%;
    height : 50px;
    background-color : black;
}

div.plan_box {
    width : 50px;
    height : 100%;
    font-size : 20px;
    color : white;
    text-align : center;

    float : right;
}


div.main_container{
    padding : 20px;
}

header{
    padding : 10px;
}
div.header_container {
    font-size: 15px;
}

div.header_box {
    font-size: 60px;
    padding : 15px 0;
}

div.verticalLine1 {
    width : 100%;
    height : 8px;
    background-color : black;
  }

div.question_container {
      margin : 0;
  }

div.question_container_header{
    padding : 0 10px;  
    font-size: 20px;
  }
div.question_box {
    margin : 0 auto;
    /* background-color : olive; */
  }

div.question_box img {
      display : block;
      padding : 10px;
      width : 100%;
      max-width : 800px;
      margin :auto;
  }
  
div.verticalLine2 {
    width : 100%;
    height : 2px;
    background-color : grey;
}

div.answer_container {
    /* background-color: bisque; */
    padding : 15px 0;
    height : 40px;
}

div.answer_header {
    padding : 0 10px 0 0;
    text-align : center;
    
    font-size : 20px;
    height : 40px;
    float : left;
}

div.answer_box {
    text-align : center;
    font-size : 20px;
    color : gray;
    
    height : 40px;
    float : left;
}

div.answer_button_box {
    float : right;
    height : 40px;
    background-color : red;
}

div.verticalLine3 {
    width : 100%;
    height : 2px;
    background-color :black;
}

div.aboutUs_container {
    padding : 25px 0;
}

div.aboutUs_header {
    font-size : 15px;
}

div.aboutUs_content {
    font-size : 15px;
}

div.caution_container {
    padding : 25px 0;
}

div.caution_header {
    font-size : 15px;
}

div.caution_content {
    font-size : 15px;
}